################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shop/bin
/Shop/.vs
/Shop/obj
/.vs
/HtmlRenderSample/obj
/HtmlRenderSample/bin
/ReportNetworkIssue/obj/Debug
/ReportNetworkIssue/bin/Debug
